NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Rr3WacPY4q7Wdr

NEXT_PUBLIC_PAYMENT_BASE_AMOUNT=1013.86
NEXT_PUBLIC_PAYMENT_NON_IEEE_AMOUNT=1013.86
NEXT_PUBLIC_PAYMENT_IEEE_AMOUNT=811.86
